# Основные библиотеки для анализа данных
pandas
tqdm

# Библиотека для локального запуска LLaVA
llama-cpp-python -C cmake.args="-DGGML_BLAS=ON;-DGGML_BLAS_VENDOR=OpenBLAS"

# Библиотеки для API-доступа
google-generativeai
replicate
python-dotenv

# Для работы с изображениями
Pillow